/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */

/*.top-col {
  display: block;
  clear: both;
}*/
.bottom-col {
  columns: 100px 3;
  margin-left: 10;
}
#details {
  columns: 100px 3;
  width: 1000px;
  margin: 0 auto;
}

#top-pic {
    margin-bottom: 1em;
}
#sum-g {
  width: 100px;
  margin-bottom: 10px;
  column-span: all;
  float: left;
}
#shoe-archive {
  margin-bottom: 10px;
  margin-left: 700px;
}
